body{
    background-color: rgb(245, 242, 203);
    padding: 2%;
    width: fit-content;
    max-width: max-content;
}
#di{
    display: flex;
    width: fit-content;
}
#blin,#glin{
    float: right;
}
#gi{
    height: 20%;
    width: 30%;
}
#li{
    height: 30%;
    width: 35%;
}
#h1{
    font-size: 45%;
    font-weight: 600;
}
nav{
    margin-top: 1%;
    border: 2px;
    display: flex;
}
#h1,button{
    display: inline;
    color: rgb(65, 66, 65);
    border: none;
    width:100%;
    height: 5%;
    font-size: 100%;
    margin-left: 1%;
    background-color:  rgb(245, 242, 203);
}
button:hover,#h1:hover{
    cursor: pointer;
    color:red;
}
button:active,#b8:active,#b9:active,#b10:active,#b11:active,#b13:active{
    background-color: black;
    color: red;
}
#home{
    margin-top: 13%;
    display: flex;
    flex-direction: row;
    width:auto;
}
#p1{
    display: inline;
    font-size: 50%;
    color: rgb(180, 7, 88);
    font-family: 'Times New Roman';
}
#p2{
    display: inline;
    font-size: 30%;
    color: rgb(59, 59, 59);
    font-family: Arial; 
}
#p3{
    font-size: 20%;
    color:  rgb(85, 85, 85);
    font-family: Arial;
    margin-top: 6%;
}
#b8,#b9{
    background-color: white;
    font-size: 40%;
    height: 10%;
    width:10%;
    border-radius: 15px;
}
#i1{
    height: 30%;
    width: 20%;
}
#p4{
    display: inline;
    font-size: 10%;
    font-family: Arial;
}
#action{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
#d5,#d6{
    width: 50%;
}
#p6{
    display: inline;
    font-size: 50%;
    color:  rgb(85, 85, 85);
    font-family: Arial; 
}
#p5{
    font-size: 60%;
    font-family: Arial;
    color:  rgb(85, 85, 85);
}
#i2{
    height: 30%;
    width: 20%;
}
#b10{
    background-color: white;
    font-size: 30%;
    height: 10%;
    width:10%;
    border-radius: 15px;
}
#p7{
    font-size: 10%;
    font-family: Arial;
    display: inline;
}
#skills{
    margin-top: 2%;
}
#p8{
    display: inline;
    font-size: 50%;
    font-family: Arial; 
}
#p9{
    font-size: 50%;
}
#d8{
    display: flex;
    flex-direction: row;
}
#d9,#d10{
    width: 50%;
}
#p11{
    font-size: 40%;
    color: rgb(85, 85, 85);
}
#d9a{
    height: 6%;
    width: 50%;
    border-radius: 30px;
    font-size: 20%;
    text-align: center;
    background-color: rgb(192, 204, 216);
}
#d9b{
    background-color: rgb(73, 147, 231);
    border-radius: 30px;
    padding-top:1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-bottom: 1%;
}
#p12{
    font-size: 40%;
    color: rgb(85, 85, 85);;
}
#d10a{
    height: 6%;
    width: 50%;
    border-radius: 30px;
    font-size: 20%;
    text-align: center;
    background-color: rgb(192, 204, 216);
}
#d10b{
    background-color: rgb(73, 147, 231);
    border-radius: 30px;
    padding-top:1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-bottom: 1%;
}
#b11{
    background-color: white;
    font-size: 30%;
    height: 10%;
    width:10%;
    border-radius: 15px;
}
#p13{
    font-size: 10%;
    font-family: Arial;
    display: inline;
}
#p14{
    display: inline;
    font-size: 10%;
    font-family: Arial; 
}
#qualification{
    margin-top: 3%;
}
#i3{
    height: 3%;
    display: inline;
    width: 3%;
    background-color: white;
}
#b12{
    font-size: 20%;
    display: inline;
    background-color: white;
    margin-top: 2%;
}
#p15{
    font-size: 50%;
    font-family: arial;
    display: inline;
}
#p16{
    font-size: 40%;
    color: rgb(85, 85, 85);
    font-family: Arial;
    display: inline;
}
#d12{
    display: flex;
    flex-direction: row;
}
#d13{
    float: right;
    width: 45%;
}
#d14{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 10%;
}
#d15{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 10%;
}
.m1{
    margin-left: 3%;
    margin-top: 1%;
    width: 10%;
    font-size: 50%;
}
#d16{
    float: left;
    width:45%;
}
#d17{
    margin-top: 30%;
    font-size: 10%;
}
#d18{
    margin-top: 20%;
    margin-right: 10%;
    font-size: 10%;
}
#p17{
    font-size: 50%;
    font-family: arial;
    display: inline;
}
#p18{
    font-size: 40%;
    color: rgb(85, 85, 85);
    font-family: Arial;
    display: inline;
}
#b13{
    background-color: white;
    font-size: 30%;
    height: 10%;
    width:10%;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 48%;
}
#services{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left:10%;
    width: 80%;
}
#p19{
    font-size: 10%;
    font-family: Arial;
    display: inline;
}
#p20{
    display: inline;
    font-size: 50%;
    font-family: Arial; 
}
#d20{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
#d21{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    background-color: rgb(250, 228, 232);
    width: 40%;
    border: 3px  solid  rgb(245, 68, 101);
    border-radius: 10px;
    margin-right: 15px;
    font-size: 60%;
}
#p21{
    margin-left: 5%;
    font-size: 50%;
    color: rgb(85, 85, 85);
    font-family: arial;
}
#p22{
    margin-left: 5%;
    font-size: 40%;
    font-family: Arial;
}
#d22{
    margin-left: 5%;
    font-size: 50%;
    height: auto;
    font-family: arial;
    margin-bottom: 5%;
    margin-top: 5%;
    cursor: pointer;
}
#d21:hover{
    border: 3px solid rgb(25, 46, 235);
}
a:hover{
    color:  rgb(6, 100, 207);
}
#d23{
    background-color: rgb(250, 228, 232);
    width: 40%;
    height: auto;
    border: 3px  solid  rgb(245, 68, 101);
    border-radius: 10px;
}
#i4{
    margin-top: 5%;
    width:10%;
    height: 20%;
}
#p23{
    font-size: 40%;
    font-family: Arial;
}
#d24{
    margin-left: 5%;
    font-size: 50%;
    font-family: arial;
    margin-bottom: 10%;
    margin-top: 10%;
    cursor: pointer;
}
#d23:hover{
    border: 3px solid rgb(25, 46, 235);
}
#d25{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: rgb(197, 235, 241);
    border: 3px  solid  rgb(104, 112, 223);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#b14{
    background-color: white;
    font-size: 30%;
    height: 10%;
    width:10%;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 48%;
}
#b15{
    background-color: white;
    font-size: 30%;
    height: 10%;
    width:30%;
    border-radius: 15px;
    margin-top: 20%;
    margin-bottom: 4%;
}
#p24{
    margin-top: 15%;
    margin-left: 5%;
    font-size: 40%;
    font-family: Arial;
}
#p25{
    margin-top: 10%;
    margin-left: 5%;
    font-size: 40%;
    font-family: Arial;
}
#d26{
    margin-top: 2%;
    margin-left: 10%;
    width: 40%;
    height: auto;
   
}
#d27{
    margin-top: 2%;
    margin-left: 5%;
    width: 40%;
    height: auto;
}
#i5{
    margin-top: 5%;
    width:8%;
    height: 9%;
}
#d28{
    display: flex;
    flex-direction: row;
}
#d29{
    margin-top: 3%;
    font-size: 30%;
    margin-left: 20%;
}
#i6{
    width:8%;
    height: 6%;
}
#d30{
    margin-top: 3%;
    font-size: 30%;
    margin-left: 10%;
}
#d31{
    margin-top: 3%;
    font-size: 30%;
    margin-left: 10%;
}
#d33{
    font-size: 30%;
    height: 10%;
    width: 50%;
}
#d32{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 50%;
}
input{
    width: 70%;
    margin-top: 2%;
    height: 100px;
    font-size: 90%;
    background-color: rgb(219, 213, 213);
    border: none;
    float: right;
    padding-left: 2%;
}
textarea{
    width: 50%;
    height: 225px;
    font-size: 20%;
    float: left;
    color: gray;
    background-color: rgb(219, 213, 213);
    border: none;
    margin-top: 2%;
    margin-left: 5%;
    padding-left: 2%;
}
#d34{
    font-size: 30%;
    height: 20%;
    width: 50%;
}
#b14{
    font-size: 40%;
    background-color: rgb(146, 225, 245);
    height: 20%;
    width:10%;
    border-radius: 15px;
    margin-bottom: 3%;
    margin-left: 45%;
}